[run]
omit = */tests/*, */management/*, */migrations/*, */__init__.py, */urls.py, manage.py, settings.py, wsgi.py

[report]
omit = */tests/*, */management/*, */migrations/*, */__init__.py, */urls.py, manage.py, settings.py, wsgi.py